.vscode/**
.vscode-test/**
.git/**
.gitignore
.venv/**
.DS_Store
backend/.venv/**
node_modules/**
src/**
webpack.config.js
*.vsix
.eslintrc.json
tsconfig.json
.github/**
.prettierrc
.prettierignore
**/test/**
**/demo/**
